<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel" tabindex="0">
          Confira os dados
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          tabindex="4"
        ></button>
      </div>
      <div class="modal-body">
        <p tabindex="0">Frase original: {{ originPhrase }}</p>
        <p tabindex="0">Frase traduzida: {{ translationPhrase }}</p>
      </div>
      <div
      class="modal-footer"
      role="buttongroup"
      appKeyboardManager
      >
        <button
        appKeyboardItemManager
        type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal"
        role="button"
        >
          Cancelar
        </button>
        <button
          appKeyboardItemManager
          type="button"
          class="btn btn-primary"
          (click)="confirmPhraseTranslation()"
          data-bs-dismiss="modal"
          role="button"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
