<app-header></app-header>

<div *ngIf="application; else finishOfApp">
  <app-panel (finishGame)="resultApplication($event)"></app-panel>
</div>

<ng-template #finishOfApp>
  <div class="container">
    <div *ngIf="finishApplication === true" style="margin-top:50px;" class="row">
      <div class="alert alert-light">
        <h3 style="color: green;">Parabéns! Continue buscando a evolução no inglês! </h3>
      </div>
    </div>
    <div *ngIf="finishApplication === false" class="row">
      <div class="alert alert-light">
        <h3 style="color: red;">Fim de jogo! Infelizmente, você perdeu! </h3>
      </div>
    </div>
    <button class="btn btn-warning" (click)="restartApplication()">Reiniciar Game</button>
  </div>
</ng-template>
