
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <app-progresso></app-progresso>
    </div>
    <div class="col-sm-6">
      <div class="d-flex justify-content-end p-2">
      <app-tentativas></app-tentativas>
      </div>
    </div>
   
 
  </div>
  <div class="d-flex flex-column mb-3">
    <div class="p-2">
      <h6>Traduza a Frase:</h6>
      <p>How Are You?</p>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      </div>
      <div class="d-flex justify-content-end p-2">
        <button type="button" class="btn btn-primary btn-sm">Verificar</button>
      </div>
    </div>
</div>
</div>
